* {
  list-style-type: none;
  text-align: center;
  box-sizing: content-box;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('./assets/website-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: black;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
}

.pokemon-card {
  width: 300px;
  border: 5px solid black;
  margin: 10px;
  border-radius: 10px;
  text-transform: capitalize;
  cursor: pointer;
  background-color: #f5f5f5;

  /* Card Expand when hover */
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03);
  transition: all 0.5s ease;
}
.pokemon-card:hover {
  transform: translate3D(0, -1px, 0) scale(1.03);
  box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
    1px 6px 12px rgba(39, 44, 49, 0.04);
  transition: all 0.4s ease; /* zoom in */
}

.single-card {
  text-transform: capitalize;
  border: 5px solid black;
  border-radius: 50px;
  width: 60vw;
  margin: 50px auto;
  font-size: 1.1rem;
  background-color: #f5f5f5;
}

.single-card h2 {
  font-size: 2rem;
}

.single-card img {
  width: 50%;
}

.single-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stats {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.stat-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.stat-text {
  width: 7.8rem;
  margin-right: 1vw;
}

#hp-bar,
#attack-bar,
#defense-bar,
#sp-attack-bar,
#sp-defense-bar,
#speed-bar,
#total-power-bar {
  width: 80%;
  color: white;
  height: 1.5rem;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}

#hp-percent,
#attack-percent,
#defense-percent,
#sp-attack-percent,
#sp-defense-percent,
#speed-percent,
#total-power-percent {
  height: 100%;
  border-radius: 5px 0px 0px 5px;
  padding-top: 0.15rem;
}

#hp-bar {
  background-color: #ffa07a;
}

#hp-percent {
  background-color: #ff6347;
}

#attack-bar {
  background-color: #ff8c00;
}

#attack-percent {
  background-color: #ff4500;
}

#defense-bar {
  background-color: #3cb371;
}

#defense-percent {
  background-color: #2e8b57;
}

#sp-attack-bar {
  background-color: #da70d6;
}

#sp-attack-percent {
  background-color: #ba55d3;
}

#sp-defense-bar {
  background-color: #87ceeb;
}

#sp-defense-percent {
  background-color: #6495ed;
}

#speed-bar {
  background-color: #ffec8b;
}

#speed-percent {
  background-color: #ffb700;
}

#total-power-bar {
  background-color: #8a2be2;
}

#total-power-percent {
  background-color: #800080;
}

.pokemon-img {
  width: 150px;
}

.common {
  border-color: #a9a9a9;
}
.uncommon {
  border-color: #008080;
}
.rare {
  border-color: #4169e1;
}
.epic {
  border-color: #9932cc;
}
.legendary {
  border-color: #ffd700;
  -webkit-box-shadow: 0px 0px 14px 4px rgba(255, 217, 0, 0.9);
  -moz-box-shadow: 0px 0px 14px 4px rgba(255, 217, 0, 0.9);
  box-shadow: 0px 0px 14px 4px rgba(255, 217, 0, 0.9);
}
.mythic {
  border-color: #ff6347;
  -webkit-box-shadow: 0px 0px 14px 10px rgba(255, 99, 71, 0.9);
  -moz-box-shadow: 0px 0px 14px 10px rgba(255, 99, 71, 0.9);
  box-shadow: 0px 0px 14px 10px rgba(255, 99, 71, 0.9);
}

.types {
  display: flex;
  justify-content: center;
}

.type-text {
  width: 50px;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 5px;
}

.normal {
  background-color: #a8a77a;
  min-width: 75px;
}
.fire {
  background-color: #ee8130;
  min-width: 75px;
}
.water {
  background-color: #6390f0;
  min-width: 75px;
}
.electric {
  background-color: #f7d02c;
  min-width: 75px;
}
.grass {
  background-color: #7ac74c;
  min-width: 75px;
}
.ice {
  background-color: #96d9d6;
  min-width: 75px;
}
.fighting {
  background-color: #c22e28;
  min-width: 75px;
}
.poison {
  background-color: #a33ea1;
  min-width: 75px;
}
.ground {
  background-color: #e2bf65;
  min-width: 75px;
}
.flying {
  background-color: #a98ff3;
  min-width: 75px;
}
.psychic {
  background-color: #f95587;
  min-width: 75px;
}
.bug {
  background-color: #a6b91a;
  min-width: 75px;
}
.rock {
  background-color: #b6a136;
  min-width: 75px;
}
.ghost {
  background-color: #735797;
  min-width: 75px;
}
.dark {
  background-color: #705746;
  min-width: 75px;
}
.steel {
  background-color: #b7b7ce;
  min-width: 75px;
}
.fairy {
  background-color: #d685ad;
  min-width: 75px;
}
.dragon {
  background-color: #6f35fc;
  min-width: 75px;
}

.rarity-container {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin: 50px auto;
}

.rarity-identifier {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.common-r {
  background-color: #a9a9a9;
}
.uncommon-r {
  background-color: #008080;
}
.rare-r {
  background-color: #4169e1;
}
.epic-r {
  background-color: #9932cc;
}
.legendary-r {
  background-color: #ffd700;
}
.mythic-r {
  background-color: #ff6347;
}
